body {
  background: #000000;
  color: #bfbfbf;
  font-family: Monaco, sans-serif;
  font-size: 10pt;
}

table {
  font-size: 8pt;
}

td {
  width: 1.25%;
  height: 2.2em;
  /* border: 1px solid white; */
  text-align: center;
  vertical-align: bottom;
}

.robot {
  background: #000;
  color: #fff;
}
